@page
@model MyStore.Pages.Clients.IndexModel
@{
}
<br />
<h2>List od Employees</h2>
<a class='btn btn-primary btn-sm' href='/Clients/Create'>New Client</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Designation</th>
            <th>Date of Join</th>
            <th>Salary</th>
            <th>Gender</th>
            <th>State</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListClients)
        {
           <tr>
               <td>@item.id</td>
               <td>@item.name</td>
               <td>@item.designation</td>
               <td>@item.doj</td>
               <td>@item.salary</td>
               <td>@item.gender</td>
               <td>@item.state</td>
               <td>
                   <a class="btn btn-primary btn-sm" href="/clients/Edit?id=@item.id">Edit</a>
                   <a class=" btn btn-danger btn-sm" href="/clients/Delete?id=@item.id">Delete</a>
               </td>
           </tr> 
        }
    </tbody>
</table>